QWidget {
    background-color: #f7fafd;
    font-family: 'Cairo';
}
QPushButton {
    background-color: #00b894;
    color: white; 
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
}
QPushButton:hover {
    background-color: #098c6b; 
}
QListWidget {
    background-color: #dfe6e9;
    border: none; 
    font-size: 15px;
}
QListWidget::item:selected {
    background: #00b894;
    color: white;
}
QLabel[role="header"] {
    font-size: 20px; color: #00b894;
    font-weight: bold;
    margin-bottom: 12px;
}
QLabel#MainTitle {
    font-size: 26px;
    font-weight: bold;
    color: #00b894;
    letter-spacing: 2px;
}
QLabel#User {
    font-size: 16px;
    color: #636e72; 
    margin-left: 10px;
}
QFrame#line {
    background-color: #b2bec3;
    max-height: 1px; 
    min-height: 1px;
    border: none;
}
QTableWidget {
    background-color: #fff;
    border: 1px solid #dfe6e9;
    border-radius: 8px;
    font-size: 15px;
    selection-background-color: #b2bec3;
    selection-color: #222;
    gridline-color: #dfe6e9;
}
QHeaderView::section {
    background-color: #00b894;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: none;
    height: 32px;
}
QLineEdit, QSpinBox, QComboBox {
    background: #f9f9fb;
    border: 1.5px solid #d1d8e0;
    border-radius: 7px;
    font-size: 15px; padding: 8px;
}